body {
  background-color: #edeefb;
  background-image: url('./img/hero.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;
  font-family: 'IBM Plex Sans', sans-serif;
}
